@font-face {
    font-family: 'DreamOrphans';
    src: local('DreamOrphans'), url(./assets/dream_orphans/DreamOrphans.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

@font-face{
    font-family: 'RobotoSlab';
    src: local('RobotoSlab'), url(./assets/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}

h5 {
    font-family: 'RobotoSlab';
    font-weight: 550;
}

p {
    font-family: 'RobotoSlab';
    font-weight: 300;
}

.navbar a {
    font-family: 'RobotoSlab';
    font-weight: 550;
}